<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filters.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/user/profile2.jsp</url-pattern>
        <url-pattern>/profile2.jsp</url-pattern>
        <url-pattern>/user/my_products.jsp</url-pattern>
        <url-pattern>/my_products.jsp</url-pattern>
        <url-pattern>/details.jsp</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>lisener.SessionLisener</listener-class>
    </listener>
    <servlet>
        <servlet-name>RegisterationServlet</servlet-name>
        <servlet-class>dbpkg.RegisterationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogInServlet</servlet-name>
        <servlet-class>dbpkg.LogInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>commonAction.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogOut</servlet-name>
        <servlet-class>adminActions.AdminLogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>productsOperations.DeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>productsOperations.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProduct</servlet-name>
        <servlet-class>productsOperations.EditProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAccount</servlet-name>
        <servlet-class>AccountOperations.EditAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAccount</servlet-name>
        <servlet-class>AccountOperations.GetAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAccountHistoryOrder</servlet-name>
        <servlet-class>AccountOperations.GetAccountHistoryOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAdmin</servlet-name>
        <servlet-class>adminActions.AddAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCategory</servlet-name>
        <servlet-class>categoryOperations.DeleteCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCategory</servlet-name>
        <servlet-class>categoryOperations.EditCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>userAction.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddElementShoppingCart</servlet-name>
        <servlet-class>userAction.AddElementShoppingCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveElementShoppingCart</servlet-name>
        <servlet-class>userAction.RemoveElementShoppingCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyProducts</servlet-name>
        <servlet-class>userAction.BuyProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contact</servlet-name>
        <servlet-class>userAction.Contact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCategoryProducts</servlet-name>
        <servlet-class>categoryOperations.GetCategoryProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getProduct</servlet-name>
        <servlet-class>productsOperations.getProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveAdmin</servlet-name>
        <servlet-class>adminActions.RemoveAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActiveAccount</servlet-name>
        <servlet-class>AccountOperations.ActiveAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeactiveAccount</servlet-name>
        <servlet-class>AccountOperations.DeactiveAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addcategory</servlet-name>
        <servlet-class>categoryOperations.AddCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>commonAction.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProduct</servlet-name>
        <servlet-class>commonAction.ViewProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProductDetails</servlet-name>
        <servlet-class>productsOperations.ViewProductDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>AccountOperations.DeleteUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterationServlet</servlet-name>
        <url-pattern>/RegisterationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogInServlet</servlet-name>
        <url-pattern>/LogInServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogOut</servlet-name>
        <url-pattern>/AdminLogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/DeleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/AddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProduct</servlet-name>
        <url-pattern>/EditProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAccount</servlet-name>
        <url-pattern>/EditAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAccount</servlet-name>
        <url-pattern>/GetAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAccountHistoryOrder</servlet-name>
        <url-pattern>/GetAccountHistoryOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAdmin</servlet-name>
        <url-pattern>/AddAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCategory</servlet-name>
        <url-pattern>/DeleteCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCategory</servlet-name>
        <url-pattern>/EditCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddElementShoppingCart</servlet-name>
        <url-pattern>/AddElementShoppingCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveElementShoppingCart</servlet-name>
        <url-pattern>/RemoveElementShoppingCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyProducts</servlet-name>
        <url-pattern>/BuyProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contact</servlet-name>
        <url-pattern>/Contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCategoryProducts</servlet-name>
        <url-pattern>/GetCategoryProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getProduct</servlet-name>
        <url-pattern>/getProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveAdmin</servlet-name>
        <url-pattern>/RemoveAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActiveAccount</servlet-name>
        <url-pattern>/ActiveAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeactiveAccount</servlet-name>
        <url-pattern>/DeactiveAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addcategory</servlet-name>
        <url-pattern>/AddCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProduct</servlet-name>
        <url-pattern>/ViewProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProductDetails</servlet-name>
        <url-pattern>/ViewProductDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
